.half_width_container{
  position: relative;
  width: 47%;
  margin: 0 10px;
  float: left;
}
.half_width_container_small{
  position:relative;
  width:47%;
  //margin:5px 5px;
  float:left;
}
.half_width_container_small_right{
  margin-left: 22px;
}

.half_width_container_popup{
  width:47%;
  height: 67px;
  input{
    width:100%;
    margin-bottom:10px;
  }
  label, select{
    width:100%;
  }
}

#des_en,#des_lang{
  //margin-top:20px;
  width: 100%;
  float: left;
  position: relative;
  font-size: 13px;
}

#textareaContainer{
  position:relative;
  width:100%;
  float:left;
  margin-right: 10px;
}

.detail_container{
  position: relative;
  width: 98%;
  height: auto;
  min-height: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
  //padding:$container_padding;
  padding-left:2px;
  padding-bottom: 20px;
  float:left;
  @include border-radius(4px);
  //border: 1px solid #bfbfbf;

  #itemName{
    position:relative;
    width:auto;
    float:left;
    margin: 5px 0px;
    margin-left:-5px;
    color: #67532F;
  }
  #lang_selectionBox{
    position:relative;
    width:200px;
    float:right;
    margin:10px 0px;
  }
  #titleLabel_en,#descriptionLabel_en{
    position: relative;
    float: left;
    width: 50%;
    font-size: 13px;

  }
  #titleLabel_lang,#des_lang{
    position: relative;
    float: left;
    width: 45%;
    opacity: 0;
    font-size: 13px;
  }

  #detailTitle_en, #detailTitle_lang{
    position: relative;
    float: left;
    width: 64%;
  }


  #ckTextEditor_en{
    position:relative;
    float: left;
    width: 100%;
    height: auto;
  }

  .sub_section{
    position: relative;
    width: 100%;
    float: left;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: underline;
  }
  #priceSection, #commandSection{
    display:none;
  }
  .dash{
    position:relative;
    width:70%;
    border-top: 1px dashed #999;
    float: left;
    padding-right: 10%;
    margin:10px 20px;
  }
  #ImageContainer{
    height:auto;
    position:relative;
    float:left;
    margin-top: 10px;
    margin-left:10px;
    //padding: 0 20px;
    #addImageBtn{
      width: 110px;
      height:110px;
      float:left;
      border: none;
      color: #fff;
      background: #fff url(../images/camera.png) no-repeat 0px 0px;
      cursor:pointer;

    }
    #addImageBtn:hover{
      background: #fff url(../images/camera.png) no-repeat 0px -150px;
    }
    .image{
      border: 1px solid #808080;
      height:100px;
      margin:5px 5px;
      padding:2px;
      width:auto;
      float:left;
      cursor:pointer;
    }
    .image:hover{
      border: 1px solid deepskyblue;
    }

    .prefer ,.prefer:hover {
      border:2px solid #F00;
      padding:1px;
    }
  }

  #IconContainer{
    height:auto;
    position:relative;
    float:left;
    margin-top: 10px;
    margin-left:10px;
    //padding: 0 20px;
    #addIconBtn{
      width: 110px;
      height:110px;
      float:left;
      border: none;
      color: #fff;
      background: #fff url(../images/camera.png) no-repeat 0px 0px;
      cursor:pointer;

    }
    #addImageBtn:hover{
      background: #fff url(../images/camera.png) no-repeat 0px -150px;
    }
    .image{
      border: 1px solid #808080;
      height:100px;
      margin:5px 5px;
      padding:2px;
      width:auto;
      float:left;
      cursor:pointer;
    }
    .image:hover{
      border: 1px solid deepskyblue;
    }

    .prefer ,.prefer:hover {
      border:2px solid #F00;
      padding:1px;
    }
  }

  #VideoThumbnailContainer{
    height:auto;
    position:relative;
    float:left;
    margin-top: 10px;
    margin-left:10px;
    //padding: 0 20px;
    #addVdoThnBtn{
      width: 110px;
      height:110px;
      float:left;
      border: none;
      color: #fff;
      background: #fff url(../images/camera.png) no-repeat 0px 0px;
      cursor:pointer;

    }
    #addImageBtn:hover{
      background: #fff url(../images/camera.png) no-repeat 0px -150px;
    }
    .image{
      border: 1px solid #808080;
      height:100px;
      margin:5px 5px;
      padding:2px;
      width:auto;
      float:left;
      cursor:pointer;
    }
    .image:hover{
      border: 1px solid deepskyblue;
    }

    .prefer ,.prefer:hover {
      border:2px solid #F00;
      padding:1px;
    }
  }

  .save_cancel_container_new{
    display: inline-block;
    position:relative;
    width:100%;
    height:auto;
    float:left;
    
    #delete_btn{
      background: #926d6d;
    }
    #delete_btn:hover{
      background: #37addf;
    }
  }

  .save_cancel_container{
    position:relative;
    width:100%;
    height:auto;
    float:left;
    #delete_btn{
      background: #926d6d;
      //float:right;
      //margin-left: 10px;
      //width:10%;
    }
    #delete_btn:hover{
      background: #37addf;
    }

     #save_btn{
      display: inline-block;
      background: #37addf;
      //float:right;
      //margin-right: 10px;
      //width:10%;
    }
    #save_btn:hover{
      background: #23a3da;
    }
    #preview_btn, #print_preview_btn{
      //display: inline-block;
      //float:right;
      //margin-right:10px;
    }
    #print_preview_btn{
      display:none;
    }
  }


  #priority_checkbox{
    //margin-top: 50px;
    width:auto;
  }
  #all_guest_radio{
    box-sizing: border-box;
    padding: 0;
    width: 10px;
    margin: 2px;
    margin-top:6px;
    padding: 0;
    display: inherit;
    float: left;
  }
  #custom_radio{
  box-sizing: border-box;
    padding: 0;
    width: 10px;
    margin: 2px;
    margin-top:6px;
    padding: 0;
    display: inherit;
    float: left;
  }
  #all_guest_label,#custom_label{
    display: inline;
    float: none;
    clear: left;
    text-align: left;
    width: 30%;
    padding: .4em 0 0 0;
    margin: .15em .5em 0 0;
  }
  #search{
    width: 75%;
    height: 40px;
    margin: 12px 0px;
    margin-right: 12px;
    float: left;
    padding-left: 2.25em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../images/icons/magnifying_glass.png");
    background-position: 0.5em 50%;
    background-repeat: no-repeat;
  }

  .list{
    border: #bfbfbf solid 1px;
    border-radius: 5px;
    height:300px;
  }
  .fixList{
    height: 290px;
    overflow-y: scroll;
    padding: 5px 0;
  }
  .add_button{
    padding: 0;
    margin: 3px 7px;
    width: 23px;
    height: 23px;
    font-size: 19px;
    line-height: 23px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-weight: normal;
    background-color: #4A6965;
    float:right;
    cursor:pointer;
  }
  .add_button.pink{
    background-color: #d81b60;
  }
  .first_column{
    //margin:3px;
    float:left;
    margin: 0 7px;
    width: 15%;
  }
  .second_column{
    //margin:3px;
    float:left;
    margin: 0 7px;
    width:60%;
  }
  .guest_item_container, .option_item_container{
    float:left;
    border-bottom: #bfbfbf solid 1px;
    width:100%;
  }

  #guest_list,#select_guest_list{
    padding-bottom: 3px;
  }

  #container_checkInDate,#container_checkOutDate,#container_checkOut {
    font-size: 13px;
  }
}