#listViewContainer {

  #itemContainer {
    position: relative;
    float: left;
    width: 100%;
    .itemRoot {
      padding: 10px 0;
      width: 98%;
      float: left;
      margin: 0 10px;
      border-bottom: 1px dotted #d6d6d6;
      input, .listText_en {
        width: 45%;
        float: right;
        margin-right: 10px;
        //border: 1px solid #d6d6d6;
        margin-top: 9px;
      }
      .listText_sc {
        width: auto;
        float: left;
        margin-left: 10px;
        margin-top: 9px;
      }
      .button-globe {
        float: right;
        width: 24px;
        height: 38px;
        margin-right: 25px;
        cursor: pointer;
        background: url(../images/globe.png) no-repeat 0px 50%;
      }
      .button-globe:hover {
        background: url(../images/globe.png) no-repeat -25px 50%;
      }
    }
  }
  #noResultMsg {
    width: 100%;
    height: auto;
    position: relative;
    display: none;
    float: left;
    text-align: center;
  }
  #headerContainer {
    width: 100%;

    #scTitle {
      margin-top: 20px;
      margin-left: 20px;
      float: left;
    }
    #engTitle {
      margin-top: 20px;
      width: 45%;
      margin-right: 59px;
      float: right;
    }
  }
  #movieheaderContainer {
    width: 100%;

    #movieheaderContainerTable {
      width: 100%;

      .movieTitle {
        width:25%;
      }
      .movieYear {
        width:25%;
      }
     .movieGenre {
        width:25%;
      }
      .movieAvailable {
        width:25%;
      }
    }
  }

}